* {
    margin: 0;
    padding: 0
}

.card-form {
    display:flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: 300px;
    background-color: rgb(200, 212, 26);
    border: 2px solid black;
    margin: 5px;
    box-sizing: border-box;

    
}

.card-name p, .card-description, .card-drugType {
    width:100%;
    background-color: rgb(255, 102, 0);
    height:20px;
    text-align: center;
}

.card-form:hover {
    transform: scale(1.03);
}